<nav class="navbar fixed-top navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="{{ path('homepage') }}">
      ECOLITO
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ path('suivi') }}">Suivi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{path('suggestions')}}">Suggestions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ path('consommation') }}">Ajouter une Consommation</a>
        </li>
      </ul>

      {# Zone droite : mon compte + déconnexion #}
      {% if app.user and is_granted('ROLE_USER') %}

<a class="nav-link text-light me-3" href="{{ path('app_account') }}" title="Mon compte">
    <i class="bi bi-person-circle fs-4"></i>
</a>
<span class="navbar-text text-light me-3">
        </span>
        <a class="btn btn-outline-light" href="{{ path('app_logout') }}">
          Déconnexion
        </a>
      {% endif %}
    </div>
  </div>
</nav>